<div class="media placeholder">
  <a class="pull-left" href="#">
    <%= image_tag img, class: "img-responsive", width: 100, height: 100 %>
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= heading %></h4>
    <%= text %>
  </div>
</div>
