<%= provide :title, "Publicaciones recientes en Facebook!" %>
<div class="jumbotron">
	<% @posts.each do |fb_post| %>
	    <%= render(
	    	'shared/media_element',
				message: "#{fb_post['message']}#{fb_post['caption']}#{fb_post['']}",
	    	text: fb_post['description'],
				link: fb_post['link'],
				picture: fb_post['picture'],
	    	heading: fb_post['from']['name'],
	    	img: "default.png",
				story: fb_post['story']
		) %>

  <% end %>
</div>
