<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Feed</a></li>
    <li><a href="#">Gatherer</a></li>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Twitter</a></li>
  </ul>
</div>
